<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>NodeNote</title>
</head>
<body>

  <h1>NodeNote</h1>

  <!-- list all the categories-->
  <h2>Categories</h2>
  <ul>
  <% categories.forEach(function (category) { %>
    <li><%= category.name %></li>
  <% }); %>
  </ul>

  <!-- form to add a new category -->
  <form action="/add_category" method="post">
    <fieldset>
      <legend>Add Category</legend>

      <input type="text" name="name"
             placeholder="category" required>

      <input type="submit" value="Add">
    </fieldset>
  </form>

  <h2>Notes</h2>
  <% if (notes.length > 0) { %>
    <ul>
      <% notes.forEach(function (note) { %>
         <li>
           <a href="notes/<%= note._id %>"><%= note.title %></a>
         </li>
      <% }); %>
    </ul>
  <% } %>
  <form action="/new_note_form" method="get">
    <input type="submit" value="New Note">
  </form>
</body>
</html>