body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/**
 * Support nonstandard pointers for UI Bootstrap
 */
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

/**
 * Put some space under the fixed navbar
 */
body {
    padding-top: 50pt;
}